<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Agregar docente</h1>
<div>
<a>Nombre</a><input type="text" name="buscar docente">
<a>Apellido 1</a><input type="text" name="buscar docente">
<a>Apellido 2</a><input type="text" name="buscar docente">
<a>Cedula</a><input type="text" name="buscar docente">
<a>Telefono</a><input type="text" name="buscar docente">
<a>Correo</a><input type="text" name="buscar docente">
<a>Titulacion</a><input type="text" name="buscar docente">
</div>
<div>
<button type="button" class="btn btn-light">Crear</button>
<button type="button" class="btn btn-light">Cancelar</button>
</div>


</body>
</html>