<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


<div>
<a>Nombre</a><input type="text" name="buscar docente">
<a>Apellido 1</a><input type="text" name="buscar docente">
<a>Apellido 2</a><input type="text" name="buscar docente">
<a>Cedula</a><input type="text" name="buscar docente">
<a>Telefono</a><input type="text" name="buscar docente">
<a>Correo</a><input type="text" name="buscar docente">
<a>Curso</a><input type="text" name="buscar docente">
<input type="checkbox" name="vehicle" value="Bike"> Repetidor<br>
<a>fecha alta</a><input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">
<a>fecha baja</a><input type="date" id="start" name="trip-start"
value="2018-07-22"
min="2018-01-01" max="2018-12-31">
<textarea name="comentarios" rows="10" cols="40">Observaciones</textarea>
</div>

<div>
<h1>Responsable</h1>
<a>Nombre</a><input type="text" name="buscar docente">
<a>Apellido 1</a><input type="text" name="buscar docente">
<a>Apellido 2</a><input type="text" name="buscar docente">
<a>Cedula</a><input type="text" name="buscar docente">
<a>Telefono</a><input type="text" name="buscar docente">
<a>Correo</a><input type="text" name="buscar docente">
</div>

<div>
<button type="button" class="btn btn-light">Crear</button>
<button type="button" class="btn btn-light">Cancelar</button>
</div>
</body>
</html>